.tituloh2 {

    text-decoration:none;
    margin-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
 }

 .tituloh3 {
    color: red;
    margin-bottom: 1% solid;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

.h4-mapa {
    color: red;
    margin-bottom: 1% solid;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

.color-de-fondo {
    background-color:  khaki;
}


.parrafo-principal {
    color: black;
    border-radius: 2px solid;
    transition: all 3s;

}

.parrafo-principal:hover {
    transform: scale(1,5);
}